<!DOCTYPE html>
<html>
<head>
    <title>Resp<<onsive Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"
    
</head>

<style>

body{
	margin:0;
	padding:20px;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: darkblue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


</style>
        <table class="table">
        <thead>
            <th>Student_id</th>
            <th>Student_Fname</th>
            <th>Student_Lname</th>
            <th>Subject_id</th>
            <th>Subject_name</th>
            <th>Grade</th>
            <th>Teacher_Fname</th>
            <th>Teacher_Lname</th>
        </thead>
        <tbody>
            <tr>
                <td data-label="Student_id">6406022610040</td>
                <td data-label="Student_Fname">Pawaris</td>
                <td data-label="Student_Lname">Piririt</td>
                <td data-label="Subject_id">060233113</td>
                <td data-label="Subject_name">ADVANCED COMPUTER PROGRAMMIN</td>
                <td data-label="Grade">C</td>
                <td data-label="Teacher_Fname">Anirach</td>
                <td data-label="Teacher_Lname">Mingkwan</td>
            </tr>
            <tr>
                <td data-label="Student_id">6406022610040</td>
                <td data-label="Student_Fname">Pawaris</td>
                <td data-label="Student_Lname">Piririt</td>
                <td data-label="Subject_id">060233112</td>
                <td data-label="Subject_name">DATA ENGINEERING</td>
                <td data-label="Grade">B</td>
                <td data-label="Teacher_Fname">Sarayoot</td>
                <td data-label="Teacher_Lname">Tanessakulwattana</td>
            </tr>
            <tr>
                <td data-label="Student_id">6406022610040</td>
                <td data-label="Student_Fname">Pawaris</td>
                <td data-label="Student_Lname">Piririt</td>
                <td data-label="Subject_id">080103034</td>
                <td data-label="Subject_name">ENGLISH CONVERSATION</td>
                <td data-label="Grade">A</td>
                <td data-label="Teacher_Fname">Supalak</td>
                <td data-label="Teacher_Lname">Nakhornsri</td>
            </tr>
            <tr>
                <td data-label="Student_id">6406022610058</td>
                <td data-label="Student_Fname">Piyawan</td>
                <td data-label="Student_Lname">Nimpraprut</td>
                <td data-label="Subject_id">060233113</td>
                <td data-label="Subject_name">ADVANCED COMPUTER PROGRAMMIN</td>
                <td data-label="Grade">C</td>
                <td data-label="Teacher_Fname">Anirach</td>
                <td data-label="Teacher_Lname">Mingkwan</td>
            </tr>
            <tr>
                <td data-label="Student_id">6406022610058</td>
                <td data-label="Student_Fname">Piyawan</td>
                <td data-label="Student_Lname">Nimpraprut</td>
                <td data-label="Subject_id">060233112</td>
                <td data-label="Subject_name">DATA ENGINEERING</td>
                <td data-label="Grade">A</td>
                <td data-label="Teacher_Fname">Sarayoot</td>
                <td data-label="Teacher_Lname">Tanessakulwattana</td>
            </tr>
            <tr>
                <td data-label="Student_id">6406022610058</td>
                <td data-label="Student_Fname">Piyawan</td>
                <td data-label="Student_Lname">Nimpraprut</td>
                <td data-label="Subject_id">080103034</td>
                <td data-label="Subject_name">ENGLISH CONVERSATION</td>
                <td data-label="Grade">A</td>
                <td data-label="Teacher_Fname">Supalak</td>
                <td data-label="Teacher_Lname">Nakhornsri</td>
            </tr>
            <tr>
                <td data-label="Student_id">6406022610031</td>
                <td data-label="Student_Fname">Papop</td>
                <td data-label="Student_Lname">Sangeamsak</td>
                <td data-label="Subject_id">060233113</td>
                <td data-label="Subject_name">ADVANCED COMPUTER PROGRAMMIN</td>
                <td data-label="Grade">A</td>
                <td data-label="Teacher_Fname">Anirach</td>
                <td data-label="Teacher_Lname">Mingkwan</td>
            </tr>
            <tr>
                <td data-label="Student_id">6406022610031</td>
                <td data-label="Student_Fname">Papop</td>
                <td data-label="Student_Lname">Sangeamsak</td>
                <td data-label="Subject_id">060233112</td>
                <td data-label="Subject_name">DATA ENGINEERING</td>
                <td data-label="Grade">A</td>
                <td data-label="Teacher_Fname">Sarayoot</td>
                <td data-label="Teacher_Lname">Tanessakulwattana</td>
            </tr>
            <tr>
                <td data-label="Student_id">6406022610031</td>
                <td data-label="Student_Fname">Papop</td>
                <td data-label="Student_Lname">Sangeamsak</td>
                <td data-label="Subject_id">080103034</td>
                <td data-label="Subject_name">ENGLISH CONVERSATION</td>
                <td data-label="Grade">A</td>
                <td data-label="Teacher_Fname">Supalak</td>
                <td data-label="Teacher_Lname">Nakhornsri</td>
            </tr>

        </tbody>
    </table>
</html>
